.table-entry-group{
  border: 2px solid;
  border-color: #696969;
  background-color: #64B5F6;
  border-radius: 10px;
  max-width: inherit;
  margin: 2px 2px 2px 2px;
  padding: 1px 2px 1px 2px;
  min-height: 55px;
  font-size: 16px;
}
.table-entry-group:hover {
  background-color: #2196F3;
}
.icon{
  font-size: 20px;
  color: gray;
}
.table-header {
  font-size: 24px;
}